/* * {
  margin: auto;
  text-align: center;
  margin-top: 20px;
} */
button {
  height: 35px;
}
div {
  border: 1px solid black;
  height: 200px;
  width: 500px;
  text-align: center;
}

#db {
  background-color: pink;
  height: 200px;
  width: 400px;
}
#ulb {
  background-color: blue;
}
.lib {
  background-color: greenyellow;
}
#todo-add-button {
  height: auto;
}
.delete {
  height: auto;
}
